<nav class="navbar">
  <a class="brand" href="/">Ejs Para Andrea</a>
  <ul class="list-items">
    <li class="item">
      <a href="/">Home</a>
    </li>
    <li class="item">
      <a href="/about">About</a>
    </li>
  </ul>
</nav>
