<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('../partials/navbar'); %></header>
    <h1>Bienvenido a about</h1>
    <h2>Espero que te sirva Andrea</h2>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo illo aliquam
      debitis repellat. A architecto dolores nulla fugiat libero sint soluta
      sequi dignissimos voluptate consectetur error, cumque quibusdam!
      Reprehenderit, magni.
    </p>
    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
