<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('../partials/navbar'); %></header>

    <main>
      <section>
        <h2>Tutorial de Node</h2>
        <img src="/assets/img/node.png" alt="Node" />
      </section>

      <section>
        <h2>Tutorial de Ejs</h2>
        <img src="/assets/img/ejs.png" alt="Node" />
      </section>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
